button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #fbff00;
    border: 2px solid #00ff40;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00471b;
}

.boton-clic {
    background-color: #ff0055;
}

.boton-reiniciar {
    background-color: #0084ff;
}